<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="generator" content="GitLab Pages">
    <title>Plain HTML site using GitLab Pages</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div id="root"></div>
    <img id="akira" src="AKIRA.png" style="display:none;"/>
    <script src="https://unpkg.com/react@15.5.4/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.5.4/dist/react-dom.js"></script>
    <script src="https://unpkg.com/prop-types@15.6.1/prop-types.js"></script>
    <script src="https://unpkg.com/babel-transform-in-browser@6.4.6/dist/btib.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="./dist/react-bounding-box.js"></script>
    <script src="./dist/react-webcam.js"></script>
    <script type="text/es2015">
// getUserMedia only works for secure pages
if (!/https/.test(window.location.protocol)) window.location.protocol = 'https://';

class App extends React.Component {

  constructor(props) {
    super(props);
    this.state = {
      screenshot: null,
      tab: 0,
    };
  }

  componentDidMount = () => {
    this.predict();
  }

  predict = () => {

    const canvas = this.webcam.getCanvas();
    if(!canvas) {
      setTimeout(this.predict, 2000);
      return null;
    }

    var screenshot = canvas
			.toDataURL("image/jpeg", 0.92)
			.replace(/^data:image\/\w+;base64,/, "");

    const postData = {
      service: "detection_600",
      data: [ screenshot ],
      parameters: {
        input: {},
        output:{
          confidence_threshold: 0.3,
          bbox: true
        },
        mllib: {}
      }
    }

    axios.post('/api/deepdetect/predict', postData)
      .then((response) => {

        if(response.data.body.predictions[0]) {
          const classes = response.data.body.predictions[0].classes;
          this.setState({
            boxes: classes
            .filter( c => c.cat === "Face" )
            .map( c => {
              return [
                c.bbox.xmin,
                c.bbox.ymax,
                c.bbox.xmax - c.bbox.xmin,
                c.bbox.ymin - c.bbox.ymax
              ]
            })
          });
          this.predict();
        }
      });
  }

  drawBox = (canvas, box, color, lineWidth) => {
    if(!box || typeof box === 'undefined')
      return null;

    const ctx = canvas.getContext('2d');
    const [x, y, width, height] = box;

    var img = document.getElementById("akira");
    ctx.drawImage(img, x, y, width, height);
  }

  render() {
    return (
      <div>
        <Webcam
          audio={false}
          ref={node => this.webcam = node}
        />
        <Boundingbox id="boxes" image="webcam.png"
          boxes={this.state.boxes}
          options={{
            colors: {
              normal: 'rgba(255,0,0,1)'
            }}}
          drawBox={this.drawBox}
        />
      </div>
    );
  }
}

ReactDOM.render(<App />, document.getElementById('root'));
    </script>
  </body>
</html>

